{% load paystack %}
{% load humanizelib %}

<div class="mb-5 card-body">
    <div class="">
        <h1 class="font-weight-bold">{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}}</h1>
        <hr>
    </div>

    <div class="float-left d-inline-table">
        <img id="vehicle-img-detailed" class="card-img card-img-top" src="{{vehicle.images.first.image.url}}" alt="Card image cap">
        <br>
    </div>

    <div class="float-left ml-3 mb-5 d-inline-table">
        <div><strong class="card-subtitle mb-1">Name:</strong> <span class="text-primary">{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}}</span></div>
        <div><strong class="card-subtitle">Condition:</strong> <span class="text-primary">{{vehicle.condition}}</span></div>
        <div><strong class="card-subtitle">Colour:</strong> <span class="text-primary">{{vehicle.colour}}</span></div>
        <div><strong class="card-subtitle">Description:</strong> <span class="text-primary">{{vehicle.description}}</span></div>
        <div><strong class="card-subtitle">Price (per hour):</strong> <span class="text-primary">NGN{{vehicle.price|floatformat:2|intcomma}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">Quantity (in stock):</strong> <span class="text-primary">{{vehicle.quantity}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">uploaded time:</strong> <span class="text-primary">{{vehicle.updated}}</span></div>
        <br>
        <br>
        <div><strong class="card-subtitle">STARTING FROM:</strong> <span class="text-primary small">{{reservation.start_period}}</span></div>
        <div><strong class="card-subtitle">ENDING BY:</strong> <span class="text-primary small">{{reservation.end_period}}</span></div>

        {% if not reservation.is_paid %}
        <div class="card-body d-inline">
            {% paystack_button amount=vehicle.price metadata=reservation.id email=request.user.email %}
        </div>
        {% endif %}
    </div>

</div>
