<div id="vehicleCatalogue" class="p-3">
{% for reservation in reservations %}
<div class="card">
  <div class="card-header">
    RESERVED
  </div>

  <div class="card-body">
    <div class="d-inline-table">
      <img src="{{reservation.vehicle.images.first.image.url}}" alt="" height="100px" width="100px">
    </div>
    <div class="d-inline-table">
      <h5 class="card-title mb-0 font-weight-bold"><span class="font-weight-bold">Name: </span>{{reservation.vehicle.brand}}</h5>
      <p class="card-text mb-0"><span class="font-weight-bold">Model: </span>{{reservation.vehicle.model}}, {{reservation.vehicle.year}}</p>
      <p class="card-text"><span class="font-weight-bold">Payment Status: </span><span class="{% if reservation.is_paid %} text-success {% else %} text-danger{% endif %} font-weight-bold">{{reservation.is_paid}}</span></p>
      <a class="btn btn-primary" href="{% url 'reservation:reserve_detail' reservation.id %}">{% if reservation.is_paid %}View Details{% else %}Proceed to Payment{% endif %}</a>
      <p class="card-text"><small class="text-muted">Reserved {{reservation.vehicle.updated|timesince}} ago</small></p>
    </div>

  </div>
</div>
{% empty %}
<p class="text-muted">Sorry no vehicle has been reserved.</p>
{% endfor %}
</div>
