{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ reservation_form.media }}
{% load humanizelib %}

<div id="reserve-left-div" class="card-body">
    <div class="">
        <h3>Reserve</h3>
        <hr>
    </div>

    <div class="float-left d-inline-table reserve-section">
        <img id="vehicle-img-detailed" class="" src="{{vehicle.images.first.image.url}}" alt="Card image cap">
        <br>
    </div>

    <div class="float-left ml-3 mb-5 d-inline-table reserve-section">
        <div><strong class="card-subtitle mb-1">Name:</strong> <span class="text-primary">{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}}</span></div>
        <hr>
        <div><strong class="card-subtitle">Condition:</strong> <span class="text-primary">{{vehicle.condition}}</span></div>
        <hr>
        <div><strong class="card-subtitle">Colour:</strong> <span class="text-primary">{{vehicle.colour}}</span></div>
        <hr>
        <div><strong class="card-subtitle">Description:</strong> <span class="text-primary">{{vehicle.description}}</span></div>
        <hr>
        <div><strong class="card-subtitle">Price (per hour):</strong> <span class="text-primary">NGN{{vehicle.price|floatformat:2|intcomma}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">Quantity (in stock):</strong> <span class="text-primary">{{vehicle.quantity}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">uploaded time:</strong> <span class="text-primary">{{vehicle.updated}}</span></div>
    </div>

    <div class="card-body ml-4 reserve-form-div reserve-section">
        {% if not is_reserved %}
        <form class="mb-4" action="{% url 'reservation:reserve' vehicle.id %}" method="post">
            {{reservation_form.as_p}}
            {% csrf_token %}
            <button type="submit" class="header-btn">Reserve</button>
        </form>
        {% else %}
        <p>
            <center>Thank you for making a reservation, please click <a href="{% url 'reservation:reserve_detail' reservation.id %}">here</a> make payment now to secure reservation.</center>
        </p>
        {% endif %}
    </div>

</div>
