{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ reservation_form.media }}
{% load humanizelib %}

<div id="reserve-left-div" class="float-left card">
    <div class="card-body">
        <h3>Reserve</h3>
        <hr>
    </div>

    <div class="container mt-3">
        <img class="card-img card-img-top" src="{{vehicle.images.first.image.url}}" alt="Card image cap">
        <br>
    </div>

    <div class="card-body mb-5">
        <div><strong class="card-subtitle mb-1">Name:</strong> <span class="text-primary">{{vehicle.brand}} {{vehicle.model}} {{vehicle.year}}</span></div>
        <div><strong class="card-subtitle">Condition:</strong> <span class="text-primary">{{vehicle.condition}}</span></div>
        <div><strong class="card-subtitle">Colour:</strong> <span class="text-primary">{{vehicle.colour}}</span></div>
        <div><strong class="card-subtitle">Description:</strong> <span class="text-primary">{{vehicle.description}}</span></div>
        <div><strong class="card-subtitle">Price (per hour):</strong> <span class="text-primary">NGN{{vehicle.price|floatformat:2|intcomma}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">Quantity (in stock):</strong> <span class="text-primary">{{vehicle.quantity}}</span></div>
        <div class="text-muted small"><strong class="card-subtitle">uploaded time:</strong> <span class="text-primary">{{vehicle.updated}}</span></div>
    </div>

    <div class="card-body mt-20">
        {% if not is_reserved %}
        <form class="mb-4" action="{% url 'reservation:reserve' vehicle.id %}" method="post">
            {{reservation_form.as_p}}
            {% csrf_token %}
            <button type="submit" class="header-btn">Reserve</button>
        </form>
        {% else %}
        <p>
            <center>Thank you for making a reservation, please click <a href="{% url 'reservation:reserve_detail' reservation.id %}">here</a> make payment now to secure reservation.</center>
        </p>
        {% endif %}
    </div>

</div>

<div id="reserve-right-div" class="border float-right">
    <div class="card-body">
        <h3>Chat with Owner</h3>
        <div class="chat-wrapper">
            {% for message in chat %}
            <div class="d-block message-box">
                {% if message.sender == request.user %}
                <p class="float-right sent d-block">{{message.message}}</p>
                <br>
                <br>
                {% else %}
                <p class="float-left d-block received {% if not message.is_read %} unread {% endif %}">{{message.message}}</p>
                {% endif %}
            </div>
            {% endfor %}
            <hr>
        </div>
        <form id="message_admin_form" action="{% url 'vehicles:send_message' vehicle.id %}" method="post" class="d-block">
            {{ message_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="header-btn">Send</button>
        </form>
    </div>
</div>
