{% extends 'base.html' %}
{% load static %}
{% load humanizelib %}

{% block html_body_content %}
{% include 'header.html' %}
<div>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Alert!</strong> {{message}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
</div>

<section id="search-result-section">
    <div id="index-section2-content">
        {% if query %}
            <h2 class="lead">You searched for '{{ query }}'</h2>
        {% else %}
        <form class="form-inline my-2 my-lg-0" action=".">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
            <button class="btn btn-outline-primary mt-2" type="submit">Search</button>
        </form>
        <br>
        {% endif %}
    <div>

              <div class="card-deck">
                  {% if search_result and query %}

                      <div class="row">
                          {% for vehicle in search_result %}
                          <div class="col mb-3">
                              <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="{{vehicle.images.first.image.url}}" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="mb-1 font-weight-bold">{{vehicle.brand}}</h5>
                                  <p class="m-0">{{vehicle.model}}, {{vehicle.year}}</p>
                                  <p class="m-0"><span>Colour</span>: {{vehicle.colour}}</p>
                                  <p class="m-0"><span>Condition</span>: {{vehicle.condition}}</p>
                                  <span class="card-text text-secondary mt-3 mb-2 d-block">NGN {{vehicle.price|floatformat:2|intcomma}}</span>
                                    <a class="btn btn-primary" href="{% url 'reservation:reserve' vehicle.id %}">reserve</a>
                                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                              </div>
                          </div>
                          {% empty %}
                            <p class="text-muted">Sorry no vehicle is available for reservation.</p>
                          {% endfor %}
                  {% endif %}
                </div>

        </div>

    </div>

</section>


<!-- Modal -->


{% endblock %}
