*{
    font-family: sans-serif;
}

.plr-10{
    padding: 0 10px;
}

.ptb-10{
    padding: 10px 0;
}

.plr-20{
    padding: 0 20px;
}

.ptb-20{
    padding: 20px 0;
}

.sent, .received{
    background-color: #d1fcd1;
    padding: 10px 20px;
    width: 70%;
    border-radius: 10px;
}

.sent:after{
    content: 'sent';
    font-size: 9px;
    margin-top: 10px;
    display: flow;
    float: right;
}

.chat-wrapper{
    height: 39vh;
    overflow-x: scroll;
}

.chat-wrapper, .message-box{
    overflow: hidden;
}

.unread{
    background-color: #8ff58f;
}

.received:after{
    content: 'received';
    font-size: 9px;
    margin-top: 10px;
    display: flow;
    float: right;}

.unread:after{
    content: '(new)';
    font-size: 9px;
    margin-top: 10px;
    display: flow;
    float: right;
}

#main-header{
    height: 10vh;
    width: 100%;
    /*background-color: #FE6610;*/
    padding: 20px 0 10px 0;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.userInfoDiv{
    height: 10vh;
    padding: 10px;
    /*width: 100%;*/
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
}

#header-content{
    width: 73%;
    margin: 0 auto;
    overflow: hidden;
}

#account-header-content{
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}

#logo{
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding: 10px 20px;
}

#logo a{
    color: black;
    text-decoration: none;
}

.logo-wrapper{
    border: 1px;
    background-color: #FE6610;
    overflow: hidden;
    border-radius: 10px;
}

#search-text{
    border-radius: 10px;
    color: #FE6610;
}

#main-header.header-links{
    overflow: hidden;
}

#main-header.header-links, .header-links ul{
    display: inline-block;
    float: right;
}

.header-links ul li{
    display: inline-block;
    font-weight: 600;
    /*margin-top: 7px;*/
    margin-left: 15px;
}

.header-links ul li a{
    /*text-decoration: underline;*/
    color: #FE6610;
}

.header-btn{
    background-color: #011B33;
    color: white;
    padding: 5px 10px;
    border: none;
    transition: .9s;
    border-radius: 10px;
}

.header-btn:hover{
    background-color: #FE6610;
}

#index-section{
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#index-section, #index-section2{
    width: 100%;
    overflow: hidden;
}

#index-section2{
    background-color: #F3F5F7;
    height: 80vh;
}

#index-section-content{
    height: 100%;
}

#index-section-content, #index-section2-content{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

#index-section2-content{
    padding: 17px 0;
}

#index-search-box{
    margin-top: 10%;
    /*margin-left: -35px;*/
    padding: 10px 25px;
    border-radius: 20px;
    height: 65%;
    overflow: hidden;
    width: 50%;
    background-color: white;
}

#search-form input, #reg-form input{
    border: none;
    background-color: #F0F3F5;
    border-radius: 10px;
    color: black;
}

#search-form input::placeholder, #reg-form input::placeholder{
    color: black;
}

#search-form button, #reg-btn{
    width: 100%;
    background-color: olive;
    color: white;
    padding: 10px 40px;
    border: none;
    font-weight: bold;
    font-size: 20px;
}

html body.modal-open div.modal-backdrop.fade.show{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#reg-form label{
    display: none;
}

#reg-form p input{
    padding: 10px;
    width: 100%;
}

#reg-form input:focus{
    outline: none;
}

html body.modal-open div.modal-backdrop.fade{
    opacity: .85;
}


#account-left-div{
    height: 100vh;
    float: left;
    width: 14%;
    background-color: #011B33;
}

#account-right-div{
    height: 100vh;
    float: right;
    width: 86%;
    overflow-y: scroll;
}

#mainLinksDiv{
    color: white;
    padding: 10px;
}

#mainLinksDiv ul{
    padding: 0;
}

#accountContentTitleDiv{
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

#message_admin_form label{
    display: none;
}

#message_admin_form textarea, #message_admin_form button{
    width: 100%;
}


#reserve-right-div, #reserve-left-div{
    height: 90vh;
    overflow-x: scroll;
}

#reserve-right-div{
    width: 40%;
}

#reserve-left-div{
    width: 60%;
}

.mt-20{
    margin-top: 90px;
}