<header id="main-header">
    <div id="header-content">
        <div class="d-inline logo-wrapper">
            <h3 class="d-inline" id="logo">CarRen</h3>
        </div>
        <div class="header-links d-inline">
            <ul>
                <li class="list-unstyled"><a href="">Home</a></li>
                <li class="list-unstyled"><a href="">About</a></li>
                <li class="list-unstyled"><a href="">Contact us</a></li>
                <li class="list-unstyled"><a href="" class="btn text-white btn-dark">Sign-up</a></li>
                <li class="list-unstyled"><a href="" class="btn text-white btn-dark">Sign-in</a></li>
            </ul>
        </div>
    </div>
</header>
