<header id="main-header">
    <div id="{% if section == 'account' %}account-header-content{% else %}header-content{% endif %}">
        <div class="d-inline logo-wrapper">
            <h3 class="d-inline" id="logo"><a class="text-dark" href="/">KRS</a></h3>
        </div>
        <div class="header-links d-inline">
            <ul>
                <li class="list-unstyled"><a href="{% url 'account:home' %}">Home</a></li>
                <li class="list-unstyled"><a href="{% url 'about' %}">About</a></li>
                <li class="list-unstyled"><a href="{% url 'contact' %}">Contact us</a></li>
                {% if not request.user.is_authenticated %}
                <li class="list-unstyled"><button type="button" class="header-btn text-white" data-toggle="modal" data-target="#exampleModal">Sign-up</button></li>
                <li class="list-unstyled"><button type="button" class="header-btn text-white" data-toggle="modal" data-target="#loginModal">Sign-in</button></li>
                {% include 'registration-modal.html' %}
                {% include 'login-modal.html' %}
                {% else %}
                <li class="list-unstyled"><a href="{% url 'account:profile' %}">Account</a></li>
                <li class="list-unstyled"><a href="{% url 'account:logout' %}" class="header-btn btn text-white">Logout</a></li>
                {% endif%}
<!--                <li class="list-unstyled"><a href="" class="btn text-white btn-dark">Sign-in</a></li>-->
            </ul>
        </div>
    </div>
</header>
