{% extends 'base.html' %}
{% load static %}
{% load humanizelib %}


{% block html_body_content %}
{% include 'header.html' %}
<div>
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Alert!</strong> {{message}}.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
</div>

<section id="index-section" style="background-image: url('{% static "images/section-bg0.jpg" %}')">
    <div id="index-section-content">

        <div id="index-search-box">
            <h1 class="font-weight-bold mb-5"><span id="search-text">Search</span> for your vehicle</h1>
            <br>
            {% include 'search-form.html' %}
        </div>

    </div>
</section>

<section id="index-section2">
    <div id="index-section2-content">
        <h2 class="font-weight-bolder">Some cars for you</h2>

        <div>

              <div class="card-deck">
                  {% for vehicle in vehicles %}
                  <div class="card">
                    <img class="card-img-top" src="{{vehicle.images.first.image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title font-weight-bold">{{vehicle.brand}}</h5>
                      <p class="card-text">{{vehicle.model}}, {{vehicle.year}}</p>
                      <span class="card-text text-secondary d-block">NGN {{vehicle.price|floatformat:2|intcomma}}</span>
                        <a class="btn btn-primary" href="{% url 'reservation:reserve' vehicle.id %}">reserve</a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  {% empty %}
                    <p class="text-muted">Sorry no vehicle is available for reservation.</p>
                  {% endfor %}
                </div>

        </div>

    </div>

</section>


<!-- Modal -->
{% include 'registration-modal.html' %}
{% include 'login-modal.html' %}
{% endblock %}
